@font-face {
    font-family: 'Codec Pro';
    font-weight: 800; 
    src: url('fonts/codec-pro-extrabold.woff2') format('woff2'),
         url('fonts/codec-pro-extrabold.woff') format('woff'),
         url('fonts/codec-pro-extrabold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Codec Pro', sans-serif;
    height: 100vh;
    background-image: url('../imagens/6.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header h1{
    font-size: 60px;
    color:rgb(54, 230, 243);
    text-align: center;
    margin-top: 10%;
}

h2{
    text-align: center;
    color: white;
}

.text{
    display: flex;
    text-align: center;
    border-radius: 30px;
    height: 60px;
    width: 700px;
}

.inputs{
    font-size: 20px;
    color:rgb(54, 230, 243);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botao{
    border-radius: 30px;
    height: 60px;
    width: 300px;
}

.resultado{
    text-align: center;
    color: white;
    font-size: 20px;
    color:rgb(54, 230, 243);
    text-align: center;
}

